.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 2rem;
  background-color: #eee;
  border-radius: 15px;

  &-active {
    text-decoration: none;
  }

  &-done {
    text-decoration: line-through;
  }

  & > span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
