.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.task-list {
  width: 50%;
  margin: 0 auto;

  & > * {
    margin-bottom: 1rem;
  }
}

.btn-container {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}
