.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.task-container {
  width: 50%;
  margin: 0 auto;

  & > * {
    margin-bottom: 1rem;
  }
}

.task-list {
  & > * {
    margin-bottom: 1rem;
  }
}

.btn-container {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 40rem;

  & h3 {
    font-weight: 400;
    font-size: 2rem;
  }

  & p {
    font-size: 1.6rem;
    color: #c0c0c0;
  }
}
