<div *ngIf="isVisible$ | async">
  <div class="modal">
    <h1>Edit task</h1>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="New task"
      class="modal-input"
      [(ngModel)]="inputText"
    />
    <span>
      <app-button
        label="Cancel"
        color="secondary"
        (btnClick)="hideModal()"
      ></app-button>
      <app-button label="Done" (btnClick)="addItem(inputText)"></app-button>
    </span>
  </div>
  <div class="overlay"></div>
</div>
